In [58]:
import numpy as np
import pandas as pd
import pickle
from Bio import SeqIO
from Bio.Seq import Seq
from Bio.SeqRecord import SeqRecord
import os 
from functions import *
from functools import reduce

# Gene-locustags

In [2]:
ref_features = pd.read_csv('../data/genome/GCF_000203855.3_ASM20385v3_feature_table.txt',sep='\t')
ref_features = ( ref_features[ref_features['# feature']=='gene']).reset_index().drop(['index'],axis=1)
ref_features = ref_features[['start','end','strand','feature_interval_length','symbol','attributes']]
ref_features = ( ref_features.dropna(subset=['attributes']) ).reset_index().drop(['index'],axis=1)

In [3]:
locus_tag=[]
for i in range(len(ref_features.index)):
    att = list(ref_features['attributes'])[i]
    if 'old_locus_tag=' in str( att ):
        locus_tag.append( str(att.split('=')[1]).strip()  )
    else:
        locus_tag.append('-')
ref_features['locus_tag']=locus_tag
ref_features = ref_features.drop(['attributes'], axis=1)
ref_features['symbol'] = ref_features['symbol'].fillna(ref_features['locus_tag'])
ref_features.head()

   start   end strand  feature_interval_length symbol locus_tag
0      1  1368      +                     1368   dnaA   lp_0001
1   1546  2685      +                     1140   dnaN   lp_0002
2   3210  3443      +                      234   yaaA   lp_0004
3   3444  4568      +                     1125   recF   lp_0005
4   4565  6511      +                     1947   gyrB   lp_0006

In [7]:
gb_features = pd.read_csv('../data/genome/GCA_000203855.3_ASM20385v3_feature_table.txt',sep='\t')
gb_features = (gb_features[gb_features['# feature']=='gene']).reset_index().drop(['index'],axis=1)
gb_features = gb_features[['start','end','strand','feature_interval_length','symbol','locus_tag']]
gb_features = ( gb_features.dropna(subset=['locus_tag']) ).reset_index().drop(['index'],axis=1)
gb_features['symbol'] = gb_features['symbol'].fillna(gb_features['locus_tag'])
gb_features.head()

   start   end strand  feature_interval_length   symbol locus_tag
0      1  1368      +                     1368     dnaA   lp_0001
1   1546  2685      +                     1140     dnaN   lp_0002
2   3210  3443      +                      234  lp_0004   lp_0004
3   3444  4568      +                     1125     recF   lp_0005
4   4565  6511      +                     1947     gyrB   lp_0006

# Lactobacillus plantarum cauh2

In [ ]:
def save_clean_fasta( in_path, out_path ):
    temp_records = SeqIO.parse( in_path , "fasta")
    new_records = []
    for seq_record in temp_records:
        description = str(seq_record.description)
        if 'locus_tag=' in description:
            ID = str(seq_record.description).split('locus_tag=')[1].split('] [')[0].strip()
        elif 'gene=' in description:
            ID = str(seq_record.description).split('gene=')[1].split('] [')[0].strip()
        else:
            continue
            
        seq = str(seq_record.seq)
        new_records.append( SeqRecord(Seq(seq), id = ID, name="",description="") )
    SeqIO.write(new_records, out_path ,"fasta")
    print( len(new_records) )

In [ ]:
# save_clean_fasta( "../data/genome/GCA_000203855.3_ASM20385v3_cds_from_genomic.fna",
#                  "../data/genome/wcfs1_cds.fna")
# save_clean_fasta( "../data/genome/GCA_001617525.1_ASM161752v1_cds_from_genomic.fna",
#                  "../data/genome/cauh2_cds.fna")

In [ ]:
# cmd = 'blastn -query ../data/genome/cauh2_cds.fna -subject ../data/genome/wcfs1_cds.fna -evalue 1e-6 -outfmt 6'
# cmd += ' -max_target_seqs 5 -out ../data/genome/cauh2vswcfs1.txt'
# os.system(cmd)

In [ ]:
blast_table = pd.read_csv('../data/genome/cauh2vswcfs1.txt',sep='\t',header=None)
blast_table = blast_table.rename({0:'cauh2_id',1:'wcfs1_id',10:'evalue',11:'bitscore'},axis=1)
cauh2_genes = list(np.unique(blast_table['cauh2_id']))
print(len(cauh2_genes))

# Combine transcriptomics

## L. plantarum treated with 3OC12 at three time points

In [5]:
GSE124050_rpkm_0_ADTV7 = pd.read_csv('../data/transcriptomics/GSE124050_rpkm_0_ADTV7.txt',sep='\t')
GSE124050_rpkm_0_AYR0M = pd.read_csv('../data/transcriptomics/GSE124050_rpkm_0_AYR0M.txt',sep='\t')
GSE124050 = GSE124050_rpkm_0_ADTV7.merge( GSE124050_rpkm_0_AYR0M, on=['gene'],how='inner')
GSE124050 = GSE124050.rename(columns={'gene':'locus_tag'})
sample_list = list(GSE124050.columns)[1:]
rename_dict = {x: x.split('.')[0].strip() for x in sample_list}
GSE124050 = GSE124050.rename(columns=rename_dict)
print(GSE124050.shape)
GSE124050.head()

(3101, 37)

,locus_tag,1m1b_S4,1m4b_S10,1m7b_S16,1p1b_S1,1p4b_S7,1p7b_S13,2m1b_S5,2m4b_S11,2m7b_S17,...,2m7_S17,2p1_S2,2p4_S8,2p7_S14,3m1_S6,3m4_S12,3m7_S18,3p1_S3,3p4_S9,3p7_S15
0,lp_0001,1270,1928,839,529,1635,1081,1363,1328,1037,...,1014,641,1728,1059,1078,2357,962,530,1510,1079
1,lp_0002,1739,2118,1307,737,1843,1614,1707,1529,1422,...,1274,899,1761,1498,1515,8305,1359,754,1517,1499
2,lp_0004,199,213,353,118,314,383,219,194,267,...,300,237,231,290,185,79,202,210,250,367
3,lp_0005,673,738,995,559,699,1006,804,672,848,...,881,839,613,854,618,1096,691,705,673,1031
4,lp_0006,1904,2185,1825,1625,1836,1734,2047,2071,1772,...,1840,2184,1801,1594,1810,1147,1767,1854,1835,1776

## L. plantarum strains from nine different habitats

In [25]:
GSE115448 = pd.read_csv('../data/transcriptomics/GSE115448_RPKMvalues.txt',sep='\t')
sample_list = list(GSE115448.columns)[2:]
IDs = []
for i in range(len(GSE115448.index)):
    if 'lp_' in list(GSE115448['GeneSymbol'])[i]:
        IDs.append( list(GSE115448['GeneSymbol'])[i].split(':')[1].strip() )
    elif 'lp_' in list(GSE115448['GeneName'])[i]:
        IDs.append( list(GSE115448['GeneName'])[i].strip() )
    elif list(GSE115448['GeneName'])[i] in list(ref_features['symbol']):
        temp = ref_features[ref_features['symbol'] == list(GSE115448['GeneName'])[i] ]
        IDs.append( list(temp['locus_tag'])[0] )
    elif list(GSE115448['GeneName'])[i] in list(gb_features['symbol']):
        temp = gb_features[gb_features['symbol'] == list(GSE115448['GeneName'])[i] ]
        IDs.append( list(temp['locus_tag'])[0] )
    else:
        IDs.append(list(GSE115448['GeneName'])[i])
GSE115448['locus_tag'] = IDs
GSE115448 = GSE115448.drop(['GeneSymbol','GeneName'], axis = 1)
GSE115448 = GSE115448[['locus_tag']+sample_list]
print(GSE115448.shape)
GSE115448.head()

(3108, 37)

,locus_tag,WCFS1_MRS,LB16_MRS,TJ22,TJ20,TJ19,WFH19,WFH20,WFH1W,PJ16,...,CB5,FEV11_MRS,FEO3_MRS,DE12_MRS,CB5_MRS,OE1_MRS,WFH19_MRS,TJ22_MRS,PJ16_MRS,BEE1ST_MRS
0,repA,190.5490,0.0,0.0,0.0,0.000000,0.282865,0.0,0.000,0.0,...,0.0000,0.0,0.0,0.0,0.00000,0.0,0.0,0.0,0.0,0.0
1,orf2,59.9286,0.0,0.0,0.0,0.000000,0.000000,0.0,246.269,0.0,...,33.7182,0.0,0.0,0.0,3.90913,0.0,0.0,0.0,0.0,0.0
2,orf3,116.1010,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000,0.0,...,0.0000,0.0,0.0,0.0,0.00000,0.0,0.0,0.0,0.0,0.0
3,repB,357.2480,0.0,0.0,0.0,0.361062,0.000000,0.0,0.000,0.0,...,0.0000,0.0,0.0,0.0,0.00000,0.0,0.0,0.0,0.0,0.0
4,orf2,203.2870,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000,0.0,...,0.0000,0.0,0.0,0.0,0.00000,0.0,0.0,0.0,0.0,0.0

## L. plantarum response to acidic conditions

In [24]:
GSE143834 = pd.read_csv('../data/transcriptomics/GSE143834_Lactobacillus_plantarum_gene_expression_pH_.csv')
GSE143834 = GSE143834[['Gene name','Start','End','Strand',
                       'con_1','con_2','pH5.0_1','pH5.0_1.1','pH5.5_1','pH5.5_2']]
GSE143834 = GSE143834.rename(columns = {'pH5.0_1.1':'pH5.0_2'})
IDs = []
for i in range(len(GSE143834.index)):
    name = list(GSE143834['Gene name'])[i]
    if 'lp_' in name:
        IDs.append(name)
    elif name in list(ref_features['symbol']):
        temp = ref_features[ref_features['symbol'] == name ]
        IDs.append( list(temp['locus_tag'])[0] )
    elif name in list(gb_features['symbol']):
        temp = gb_features[gb_features['symbol'] == name ]
        IDs.append( list(temp['locus_tag'])[0] )
    else:
        IDs.append(name)
GSE143834['locus_tag'] = IDs
GSE143834 = GSE143834[['locus_tag','con_1','con_2','pH5.0_1','pH5.0_2','pH5.5_1','pH5.5_2']]
print(GSE143834.shape)
GSE143834.head()

(3174, 7)

  locus_tag   con_1   con_2  pH5.0_1  pH5.0_2  pH5.5_1  pH5.5_2
0   lp_0001  423.10  406.42   619.47   640.82   468.07   465.00
1   lp_0002  672.64  645.10   897.24   916.21   681.56   685.90
2   lp_0004  510.91  559.08   499.21   448.14   522.82   514.83
3   lp_0005  358.58  345.58   288.61   290.84   294.79   299.09
4   lp_0006  437.95  431.14   354.50   360.22   357.30   361.36

## L. plantarum different carbon sources
### Convert count to RPKM

In [52]:
GSE160565 = pd.read_csv('../data/transcriptomics/GSE160565_raw_gene_count_matrix.txt',sep='\t')
GSE160565 = GSE160565.dropna()
GSE160565 = GSE160565.rename(columns={'Unnamed: 0':'gene'})
sample_list = list(GSE160565.columns)[1:]
sample_names = ["LP_GLC_rep1","LP_GLC_rep2","LP_PAC1_rep1","LP_PAC1_rep2","LP_PAC2_rep1","LP_PAC2_rep2","LP_FOSPAC1_rep1","LP_FOSPAC1_rep2",
 "LP_FOSPAC2_rep1","LP_FOSPAC2_rep2","LP_HMO_rep1","LP_HMO_rep2","LP_HMOPAC1_rep1","LP_HMOPAC1_rep2",
 "LP_HMOPAC2_rep1","LP_HMOPAC2_rep2","LP_XG_rep1","LP_XG_rep2","LP_XGPAC1_rep1","LP_XGPAC1_rep2",
 "LP_XGPAC2_rep1","LP_XGPAC2_rep2"]
rename_dict = {sample_list[i]:sample_names[i] for i in range(len(sample_names))}
GSE160565 = GSE160565.rename(columns=rename_dict)
sample_list = list(GSE160565.columns)[1:]
totalReads = {sample: sum(GSE160565[sample]) for sample in sample_list }
IDs = []
for i in range(len( GSE160565.index )):
    gene_id = list(GSE160565['gene'])[i].split('-')[1].strip()
    if 'RNA' in list(GSE160565['gene'])[i]:
        IDs.append('-')
    elif ( gene_id in list(ref_features['locus_tag']) ) or ( gene_id in list(gb_features['locus_tag']) ):
        IDs.append( gene_id )
    else:
        IDs.append('-')
GSE160565['locus_tag'] = IDs
GSE160565 = GSE160565[GSE160565['locus_tag'] != '-']
lengths=[]
for i in range(len( GSE160565.index )):
    gene_id = list(GSE160565['locus_tag'])[i]
    if gene_id in list(ref_features['locus_tag']):
        temp = ref_features[ref_features['locus_tag'] == gene_id  ]
        lengths.append( list(temp['feature_interval_length'])[0] )
    else:
        temp = gb_features[gb_features['locus_tag'] == gene_id  ]
        lengths.append( list(temp['feature_interval_length'])[0] )       
GSE160565['length'] = lengths

for sample in sample_list:
    temp_rpkm = [ get_rpkm( list(GSE160565[sample])[i],
                    list(GSE160565['length'])[i], totalReads[sample]) for i in range(len(GSE160565.index))]
    GSE160565[sample] = temp_rpkm
GSE160565 = GSE160565[['locus_tag']+sample_list]
print(GSE160565.shape)
GSE160565.head()

(3058, 23)

,locus_tag,LP_GLC_rep1,LP_GLC_rep2,LP_PAC1_rep1,LP_PAC1_rep2,LP_PAC2_rep1,LP_PAC2_rep2,LP_FOSPAC1_rep1,LP_FOSPAC1_rep2,LP_FOSPAC2_rep1,...,LP_HMOPAC1_rep1,LP_HMOPAC1_rep2,LP_HMOPAC2_rep1,LP_HMOPAC2_rep2,LP_XG_rep1,LP_XG_rep2,LP_XGPAC1_rep1,LP_XGPAC1_rep2,LP_XGPAC2_rep1,LP_XGPAC2_rep2
0,lp_0001,310.016351,378.385267,186.335784,181.704531,174.767584,331.888344,274.911717,307.043525,133.515007,...,502.441837,465.934221,223.878364,190.776541,145.272896,114.711457,106.658059,150.624559,168.328237,192.070155
1,lp_0002,669.481193,750.643207,618.965397,640.799551,468.851070,484.447600,459.368611,485.732790,602.754007,...,713.449932,623.604566,609.847872,572.761569,514.850531,449.567228,297.530491,352.205911,553.273363,581.633621
2,lp_0004,987.389048,994.441856,289.907038,324.869788,542.896017,391.251387,465.814018,456.112576,390.274635,...,307.528012,351.971933,528.534823,521.880441,269.890260,310.231795,480.214011,470.846952,397.137958,350.071757
3,lp_0005,114.401974,106.758145,34.261741,33.250165,62.854717,71.754663,190.020699,190.082872,74.980397,...,72.678780,80.916495,124.571592,74.847756,53.047054,90.030381,126.315493,114.415809,69.334865,85.637680
4,lp_0006,87.535495,76.947033,86.446226,82.303207,108.122124,100.719180,395.379766,374.195643,172.343487,...,61.886886,61.782763,102.612308,42.489197,53.565249,114.534706,183.798398,146.368833,60.189621,78.325210

## Merge

In [59]:
geo_merged = reduce(lambda  left,right: pd.merge(left,right,on=['locus_tag'],
                            how='inner'), [GSE124050, GSE115448, GSE143834, GSE160565 ])

In [66]:
geo_merged.to_csv('../data/transcriptomics/merged_rpkm.csv', index = None)

# Regulons

In [ ]:
def read_regprecise(file):
    regulon = {}
    ffile = open(file, "rt")
    lines = ffile.readlines()
    ffile.close()
    for line in lines:
        line = line.strip()
        if len(line)<1:
            continue
        elif '#' in line:
            RF = ((line.split('-')[1]).split(':')[0]).strip()
            regulon[ RF ] = []
        else:
            g = str(line.split('\t')[2]).strip()
            regulon[RF].append(g)
    return regulon

In [ ]:
# regulons={}
# regulons['Lbrevis'] = read_regprecise('../data/regulon/Regulons_Lbrevis_ATCC_367.txt')
# regulons['Lplantarum'] = read_regprecise('../data/regulon/Regulons_Lplantarum_WCFS1.txt')
# regulons['Lrhamnosus'] = read_regprecise('../data/regulon/Regulons_Lrhamnosus_GG.txt')
# dump_pickle(regulons, '../data/regulon/regulons.pkl')

In [ ]:
regulons = load_pickle('../data/regulon/regulons.pkl')
print(regulons['Lplantarum'].keys())